@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
    font-family: 'Lato', SansSerif;
    alignment: center;
}
#contents {
    position: absolute;
}
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
/** class styles **/
.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}
.button {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    background-color: #f1c40f;
}
.button:hover {
    background-color: orange;
    transition: background-color 1s;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.logo {
    width: 60vw;
}
.logo img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

#section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
#section h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}
#section input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
#section input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
}
nav {
    font-weight: 800;
}
nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}
#features {
    margin-top: 30px;
}
.grid {
    display: flex;
}
#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}
.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;S
}
#howitwork {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#howitwork iframe {
    max-width: 560px;
    width: 100%;
}
#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#pricing #tenor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
#pricing #bass {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
#pricing #valve {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
#pricing .priceheader {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
#pricing h2 {
    margin-top: 15px;
}
#pricing ul {
    margin: 15px 0;
}
#pricing ul>li {
    padding: 5px 0;
}
#pricing button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}
footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}
footer ul {
    display: flex;
    justify-content: flex-end;
}
footer ul li {
    padding: 0 10px;
}
footer span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}

